body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}




.widhtimagen {
    width: 5%;
}




.cubo {
    background-color: rgb(14, 167, 154);
    border-radius: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;   
}